apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: myapp-argo-application
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/nadaomri12/Devops-Project.git
    targetRevision: HEAD
    path: kubernetes/db
    helm:
      valueFiles:
      - db-values.yaml  # Fichier de configuration Helm pour le backend
      parameters:
        - name: replicaCount
          value: "3"
  destination: 
    server: https://kubernetes.default.svc
    namespace: myapp

  syncPolicy:
    syncOptions:
    - CreateNamespace=true

    automated:
      selfHeal: true
      prune: true
