
.filter {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
  }
  
  .filter-input {
    flex-grow: 1;
  }
  
  .button {
    display: flex;
    align-items: center;
  }
  
  .action-buttons {
    display: flex;
    align-items: center;
    gap: 8px; /* Adjust the gap as needed */
  }
  
  .mat-elevation-z8 {
    margin-top: 16px;
  }
  
  .avatar-container {
    width: 40px; /* Adjust size of avatar container */
    height: 40px;
    border-radius: 50%; /* Creates a circle */
    overflow: hidden;
  }
  
  .avatar {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
  }
  /* Example CSS for customizing the back button */
button.mat-icon-button {
  background-color: #f44336; /* Customize background color if needed */
  color: white; /* Customize icon color */
}

button.mat-icon-button:hover {
  background-color: #c62828; /* Customize hover background color */
}

.table-wrapper {
  overflow-x: auto;
  display: block;
}

.mat-table {
  min-width: 600px; /* Adjust this value according to your needs */
}

@media (max-width: 600px) {
  .mat-header-cell, .mat-cell {
    display: block;
    text-align: left;
  }

  .mat-row {
    display: block;
    margin-bottom: 16px;
    border-bottom: 1px solid #e0e0e0;
  }

  .mat-row, .mat-cell {
    padding: 8px;
  }

  .mat-header-cell {
    font-weight: bold;
  }

  .action-buttons {
    display: flex;
    justify-content: space-between;
  }
}
