apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.appName }}
spec:
  replicas: {{ .Values.appReplicas }}
  selector:
    matchLabels:
      app: {{ .Values.appName }}
  template:
    metadata:
      labels:
        app: {{ .Values.appName }}
    spec:
      containers:
      - name: {{ .Values.appName }}
        image: "{{ .Values.appImage }}:{{ .Values.appVersion }}"
        ports:
        - containerPort: {{ .Values.containerPort }}
        
        env:
          - name: POSTGRES_PASSWORD
            valueFrom:
              secretKeyRef:
                name: {{ .Values.secretName }}
                key: POSTGRES_PASSWORD
          - name: POSTGRES_DB
            valueFrom:
              secretKeyRef:
                name: {{ .Values.secretName }}
                key: POSTGRES_DB
       
          - name: PGDATA
            value: /var/lib/postgresql/data/pgdata

        volumeMounts:
          - name: postgres-persistent-storage
            mountPath: /var/lib/postgresql/data/pgdata
      
           
      volumes:
      - name: postgres-persistent-storage
        persistentVolumeClaim:
          claimName: postgres-pv-claim




---        
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pv-claim # Name of PVC essential for identifying the storage data 
  labels:
    app: {{ .Values.appName }}
    tier: database
spec:
  accessModes:
    - ReadWriteOnce   # This specifies the mode of the claim that we are trying to create.
  resources:
    requests:
      storage: 1Gi    # This will tell Kubernetes about the amount of space we are trying to claim.
