<mat-card class="cardWithShadow theme-card">
  <button mat-icon-button color="warn" (click)="navigateBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <mat-card-header>
    <mat-card-title class="m-b-0">Liste des Opérations</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <div class="filter">
      <mat-form-field class="filter-input">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Title" #input>
      </mat-form-field>
      <button mat-raised-button color="primary" class="button" (click)="openPopup()">
        <mat-icon>add</mat-icon>
        Ajouter
      </button>
    
    </div>
    <div class="mat-elevation-z8 table-container">
      <div class="table-wrapper">
        <table mat-table [dataSource]="dataSource" matSort>
          <!-- Code Column -->
          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
            <td mat-cell *matCellDef="let row"> {{row.code}} </td>
          </ng-container>
          <!-- Designation Column -->
          <ng-container matColumnDef="designation">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Désignation </th>
            <td mat-cell *matCellDef="let row"> {{row.designation}} </td>
          </ng-container>
          <!-- Responsible Column -->
          <ng-container matColumnDef="responsible">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Responsable </th>
            <td mat-cell *matCellDef="let row"> {{row.responsible.fullName}} </td>
          </ng-container>
          <!-- Responsibility Column -->
          <ng-container matColumnDef="responsibility">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Responsabilité </th>
            <td mat-cell *matCellDef="let row"> {{row.responsibility.designation}} </td>
          </ng-container>
          
          <!-- Task Column -->
          <ng-container matColumnDef="tache">
            <th mat-header-cell *matHeaderCellDef> Tâche </th>
            <td mat-cell *matCellDef="let row">
              <button mat-button color="primary" (click)="navigateToTask(row)">
                <mat-icon>checklist</mat-icon>
              </button>
            </td>
          </ng-container>
          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let row">
              <div class="action-buttons">
                <button mat-icon-button color="warn" (click)="confirmDelete($event, row.id)">
                  <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button color="accent" (click)="openPopup(row)">
                  <mat-icon>edit</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <!-- No Data Row -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="8">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
      </div>
      <mat-paginator [length]="totalOperations" [pageSize]="pageSize" [pageIndex]="currentPage"
        [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageChange($event)"
        aria-label="Select page">
      </mat-paginator>
    </div>
    
  </mat-card-content>
</mat-card>

<!-- Add/Edit Popup -->
<div *ngIf="showPopup" class="popup">
  <div class="popup-content">
    <mat-dialog-content class="mat-mdc-dialog-content mdc-dialog__content ng-star-inserted" style="max-width: 600px;">
      <form [formGroup]="dataForm">
        <h2 style="text-align: center; text-decoration: underline;">
          {{ selectedOperation ? 'Modifier ' : 'Ajouter ' }}
        </h2>
        <div class="row">
          <div class="col-lg-12">
            <mat-form-field appearance="outline" class="w-100">
              <input type="text" matInput required placeholder="Désignation" formControlName="designation">
            </mat-form-field>
          </div>
          <div class="col-lg-12">
            <mat-form-field appearance="outline" class="w-100">
              <input type="text" matInput required placeholder="Responsabilité" formControlName="responsibility" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          
          </div>
          <div class="col-lg-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label required>Responsable</mat-label>
              <mat-select formControlName="responsible">
                <mat-option *ngFor="let user of Users" [value]="user.email">{{ user.fullName }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <button mat-raised-button color="primary" class="m-l-8" (click)="saveOperation()">
          <span>{{ selectedOperation ? 'Modifier' : 'Ajouter' }}</span>
        </button>
        <button mat-stroked-button color="warn" (click)="handleBackButton()" class="m-l-8">
          <span class="mdc-button__label">Retour</span>
        </button>
      </form>
    </mat-dialog-content>
  </div>
</div>

<!-- PrimeNG Components -->
<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>
