.filter {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.filter-input {
  flex-grow: 1;
}

.button {
  display: flex;
  align-items: center;
}

.action-buttons {
  display: flex;
  align-items: center;
  gap: 8px; /* Adjust the gap as needed */
}

.mat-elevation-z8 {
  margin-top: 16px;
}

.avatar-container {
  width: 40px; /* Adjust size of avatar container */
  height: 40px;
  border-radius: 50%; /* Creates a circle */
  overflow: hidden;
}

.avatar {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  width: 100%;}
  .table-container {
    overflow-x: auto;
  }
  
  .table-container table {
    width: 100%;
    min-width: 600px; /* Adjust as needed */
  }
  
  .mat-cell,
  .mat-header-cell {
    white-space: nowrap;
  }